 h1 {
	background-color: #BFF1EE;
}
h2 {
	background-color: #CAF8C3;
}	

tt {
	color: blue;
}		
    
li {
	padding-top: 0.5cm;
}	
      
a:link {
	text-decoration: none; color: blue; 
}     

a:hover {
	text-decoration: none; 
	background-color:yellow
}

.b{
	font-weight:bold;
}

u {
	color:red;
}

/* #################################### */
 /* ###### form ###### */
 /* #################################### */
 
 form  {font-size: 12px;
  margin:0;
margin-bottom:10px;
  padding:0; 
   
   }

 option {border:1px solid #ccc;
        background-color:#ffffff;}

 .submit { text-align:center;}
  
select { font-size: 11px;
}


input.submit {
        border:1px solid #009966;
        background-color:#eeeeee;
        }
        
input.submit:hover {
        border:1px solid #009966;
       background-color:#ffffff;
        }

.button {
        border:1px solid #009966;
        background-color:#eeeeee;
        }

.button:hover{
        border:1px solid #009966;
       background-color:#ffffff;
        }



/* #################################### */
 /* ###### table ###### */
/* #################################### */
 table {   }

  th {  
    font-size: 12px;
    font-weight: bold;
    background-color: #fccc6f;
	vertical-align:bottom;}

  
  
  td { font-size: 11px;}

.tab_cadre{
 -moz-border-radius: 4px;
  border: 1px solid #cccccc;
}

.tab_bg_red {
background-color: red;

}

.tab_bg_orange {
background-color: orange;

}

.tab_bg_yellow {
background-color: yellow;

}

.tab_bg_1 {
background-color: #ccccc7;

}

.tab_bg_2 {
background-color: #d7d7d2;

}

